@model CRMProject.Models.StatusHistory

@{
    ViewData["Title"] = "Create";
}

<!-- Display Success or Error Messages -->
@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success alert-dismissible fade show mt-3 d-flex justify-content-between align-items-center" role="alert">
        <span>@TempData["SuccessMessage"]</span>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
            <i class="bi bi-x"></i>
        </button>
    </div>
}

@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger alert-dismissible fade show mt-3 d-flex justify-content-between align-items-center" role="alert">
        <span>@TempData["ErrorMessage"]</span>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
            <i class="bi bi-x"></i>
        </button>
    </div>
}


<!-- Custom styles for this template-->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">

<!-- Custom styles for this template-->
@* <link href="~/customs/css/style.css" rel="stylesheet"> *@
@* <link href="~/theme/css/custom-colors.css" rel="stylesheet"> *@
<div class="col-12">
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h2">New StatusHistory </h2>
        </div>
        <div class="card-body">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger mb-3"></div>
                <div class="row">
                    <!-- StatusHistory Date -->
                    <div class="col-12 col-md-6">
                        <div class="form-group">
                            <label asp-for="Date" class="control-label">
                                <span class="text-danger">*</span> Date
                            </label>
                            <input asp-for="Date" type="date" class="form-control" required />
                            <span asp-validation-for="Date" class="text-danger"></span>
                        </div>
                    </div>

                    <!-- Member ID -->
                    <div class="col-12 col-md-6">
                        <div class="form-group">
                            <label asp-for="MemberID" class="control-label"></label>
                            <select asp-for="MemberID" class="form-control" asp-items="ViewBag.MemberID"></select>
                        </div>
                    </div>
                    <!-- StatusHistory Reason -->
                    <div class="col-12 col-md-6">
                        <div class="form-group ">
                            <label asp-for="Reason" class="control-label ">Reason:</label>
                            <textarea asp-for="Reason" class="form-control" style="min-height: 100px; flex-grow: 1;"></textarea>
                            <span asp-validation-for="Reason" class="text-danger"></span>
                        </div>
                    </div>

                    <!-- StatusHistory Notes -->
                    <div class="col-12 col-md-6">
                        <div class="form-group ">
                            <label asp-for="Notes" class="control-label ">Notes:</label>
                            <textarea asp-for="Notes" class="form-control" style="min-height: 100px; flex-grow: 1;"></textarea>
                            <span asp-validation-for="Notes" class="text-danger"></span>
                        </div>
                    </div>


                </div>

                <div class="form-group text-center">
                    <input type="submit" value="Create StatusHistory" class="btn btn-primary" style="min-height:50px; min-width:155px; align-content:center" />
                    <a asp-action="Index" class="btn btn-secondary ml-2" style="min-height:50px; min-width:155px; align-content:center">Back to Status History</a>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
