@model CRMProject.Models.StatusHistory

@{
    ViewData["Title"] = "Edit";
}

<!-- Display Success or Error Messages -->
@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success" role="alert">
        @TempData["SuccessMessage"]
    </div>
}

@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger" role="alert">
        @TempData["ErrorMessage"]
    </div>
}

<!-- Custom styles for this template-->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">

<!-- Custom styles for this template-->
@* <link href="~/customs/css/style.css" rel="stylesheet"> *@
@* <link href="~/theme/css/custom-colors.css" rel="stylesheet"> *@
<div class="col-12">
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h2>Edit Status History</h2>
        </div>
        <div class="card-body">
            <form asp-action="Edit" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger mb-3"></div>
                <div class="row">
                    <!-- Member ID -->
                    @* <div class="col-12 col-md-6">
                        <div class="form-group">
                            <label asp-for="MemberID" class="control-label">Member:</label>
                            <select asp-for="MemberID" class="form-control" asp-items="ViewBag.MemberID" readonly></select>
                            <span asp-validation-for="MemberID" class="text-danger"></span>
                        </div>
                    </div> *@

                    <!-- Member ID -->
                    <div class="col-12 col-md-6">
                        <div class="form-group">
                            <label asp-for="MemberID" class="control-label">Member:</label>
                            <span class="form-control-plaintext">@ViewBag.MemberName</span>
                            <span asp-validation-for="MemberID" class="text-danger"></span>
                        </div>
                    </div>

                    <!-- Status -->
                    <div class="col-12 col-md-6">
                        <div class="form-group">
                            <label asp-for="Status" class="control-label">Status:</label>
                            <span class="form-control-plaintext">@ViewBag.Status</span>
                            <span asp-validation-for="Status" class="text-danger"></span>
                        </div>
                    </div>                                         
                   
                    <!-- Status History Reason -->
                    <div class="col-12 col-md-6">
                        <div class="form-group">
                            <label asp-for="Reason" class="control-label">Reason:</label>
                            <textarea asp-for="Reason" class="form-control" style="min-height: 100px; flex-grow: 1;"></textarea>
                            <span asp-validation-for="Reason" class="text-danger"></span>
                        </div>
                    </div>

                    <!-- Status History Notes -->
                    <div class="col-12 col-md-6">
                        <div class="form-group">
                            <label asp-for="Notes" class="control-label">Notes:</label>
                            <textarea asp-for="Notes" class="form-control" style="min-height: 100px; flex-grow: 1;"></textarea>
                            <span asp-validation-for="Notes" class="text-danger"></span>
                        </div>
                    </div>

                    <!-- Status History Date -->
                    <div class="col-12 col-md-6">
                        <div class="form-group">
                            <label asp-for="Date" class="control-label">Date:</label>
                            <input asp-for="Date" type="date" class="form-control" />
                            <span asp-validation-for="Date" class="text-danger"></span>
                        </div>
                    </div>
                </div>                

                <div class="form-group text-center">
                    <input type="submit" value="Save StatusHistory" class="btn btn-primary" />
                    <a asp-action="Index" class="btn btn-secondary ml-2">Back to Status Histories</a>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
