CRMProject/CRMProject.db
Prototype1/CRMProject/.vs
Prototype1/CRMProject/CRMProject/obj
Prototype1/CRMProject/CRMProject/bin
Prototype1/CRMProject/CRMProject/CRMProject.db-shm
Prototype1/CRMProject/CRMProject/CRMProject.db-wal
.vs/
obj/
bin/
*.db
*.db-shm
*.db-wal