@model CRMProject.Models.MembershipType

@{
    ViewData["Title"] = "Edit";
}

<div class="col-12">
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Edit Membership Type</h6>
        </div>
        <div class="card-body">
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger mb-3"></div>
                <input type="hidden" asp-for="ID" />
                <div class="row">
                    <!-- Membership Type Name -->
                    <div class="col-12 col-md-6">
                        <div class="form-group">
                            <label asp-for="MembershipTypeName" class="control-label"></label>
                            <select asp-for="MembershipTypeName" class="form-control"></select>
                            <span asp-validation-for="MembershipTypeName" class="text-danger"></span>
                        </div>
                    </div>

                                        <!-- Membership Type Fee -->
                    <div class="col-12 col-md-6">
                        <div class="form-group">
                            <label asp-for="MembershipTypeFee" class="control-label"></label>
                            <input asp-for="MembershipTypeFee" class="form-control" />
                            <span asp-validation-for="MembershipTypeFee" class="text-danger"></span>
                        </div>
                    </div>

                    <!-- Membership Type Description -->
                    <div class="col-12 col-md-6">
                        <div class="form-group">
                            <label asp-for="MembershipTypeDescription" class="control-label"></label>
                            <textarea asp-for="MembershipTypeDescription" class="form-control" style="min-height: 100px; flex-grow: 1;"></textarea>
                            <span asp-validation-for="MembershipTypeDescription" class="text-danger"></span>
                        </div>
                    </div>



                    <!-- Membership Type Benefits -->
                    <div class="col-12 col-md-6">
                        <div class="form-group">
                            <label asp-for="MembershipTypeBenefits" class="control-label"></label>
                            <textarea asp-for="MembershipTypeBenefits" class="form-control" style="min-height: 100px; flex-grow: 1;"></textarea>
                            <span asp-validation-for="MembershipTypeBenefits" class="text-danger"></span>
                        </div>
                    </div>
                </div>

                <div class="form-group text-center">
                    <input type="submit" value="Save Membership Type" class="btn btn-primary" />
                    <a asp-action="Index" class="btn btn-secondary ml-2">Back to Membership Types</a>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
