@model CRMProject.Models.StatusHistory

<dt class="col-sm-2 col-md-3">
    <label asp-for="Date" class="control-label">Date:</label>
</dt>
<dd class="col-sm-10 col-md-9">
    <input asp-for="Date" class="form-control" type="date" />
    <span asp-validation-for="Date" class="text-danger"></span>
</dd>

@* <dt class="col-sm-2 col-md-3">
    <label asp-for="Status" class="control-label">Status:</label>
</dt>
<dd class="col-sm-10 col-md-9">
    <input asp-for="Status" class="form-control" type="text" />
    <span asp-validation-for="Status" class="text-danger"></span>
</dd> *@

<dt class="col-sm-2 col-md-3">
    <label asp-for="Reason" class="control-label">Reason:</label>
</dt>
<dd class="col-sm-10 col-md-9">
<textarea asp-for="Reason" class="form-control" style="min-height: 100px; flex-grow: 1;"></textarea>
    <span asp-validation-for="Reason" class="text-danger"></span>
</dd>

<dt class="col-sm-2 col-md-3">
    <label asp-for="Notes" class="control-label">Cancellation/Activation Notes:</label>
</dt>
<dd class="col-sm-10 col-md-9">
<textarea asp-for="Notes" class="form-control" style="min-height: 100px; flex-grow: 1;"></textarea>
    <span asp-validation-for="Notes" class="text-danger"></span>
</dd>
