@model CRMProject.Models.Industry

@{
    ViewData["Title"] = "Create";
}

<!-- Display Success or Error Messages -->
@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success" role="alert">
        @TempData["SuccessMessage"]
    </div>
}

@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger" role="alert">
        @TempData["ErrorMessage"]
    </div>
}


<div class="col-12">
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h2>Create Industry</h2>
        </div>
        <div class="card-body">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger mb-3"></div>
                <div class="row">
                    <!-- Industry Sector -->
                    <div class="col-12 col-md-6">
                        <div class="form-group">
                            <label asp-for="IndustrySector" class="control-label">
                                <span class="text-danger">*</span> Industry Sector
                            </label>
                            <input asp-for="IndustrySector" class="form-control" required />
                            <span asp-validation-for="IndustrySector" class="text-danger"></span>
                        </div>
                    </div>

                    <!-- Industry NAICS Code -->
                    <div class="col-12 col-md-6">
                        <div class="form-group">
                            <label asp-for="IndustryNAICSCode" class="control-label"></label>
                            <input asp-for="IndustryNAICSCode" class="form-control" required />
                            <span asp-validation-for="IndustryNAICSCode" class="text-danger"></span>
                        </div>
                    </div>

                    <!-- Industry Subsector -->
                    <div class="col-12 col-md-6">
                        <div class="form-group">
                            <label asp-for="IndustrySubsector" class="control-label mr-3" style="min-width: 150px; white-space: nowrap;">Industry Subsector:</label>
                            <textarea asp-for="IndustrySubsector" class="form-control" rows="4" required></textarea>
                            <span asp-validation-for="IndustrySubsector" class="text-danger"></span>
                        </div>
                    </div>
                </div>

                <div class="form-group text-center">
                    <input type="submit" value="Create Industry" class="btn btn-primary" />
                    <a asp-action="Index" class="btn btn-secondary ml-2">Back to Industries</a>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
