@model CRMProject.Models.Industry

@{
    ViewData["Title"] = "Create";
}

<div class="col-12">
    <div class="card">
        <div class="card-body">
            <h1>Create Industry</h1>
            <hr />
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Industry Information</h6>
                </div>
                <div class="card-body">
                    <form asp-action="Create">
                        <div asp-validation-summary="ModelOnly" class="text-danger mb-3"></div>
                        <div class="row">
                            <!-- Industry Name -->
                            <div class="col-12 col-md-6">
                                <div class="form-group">
                                    <label asp-for="IndustryName" class="control-label"></label>
                                    <input asp-for="IndustryName" class="form-control" />
                                    <span asp-validation-for="IndustryName" class="text-danger"></span>
                                </div>
                            </div>

                            <!-- Industry NAICS Code -->
                            <div class="col-12 col-md-6">
                                <div class="form-group">
                                    <label asp-for="IndustryNAICSCode" class="control-label"></label>
                                    <input asp-for="IndustryNAICSCode" class="form-control" />
                                    <span asp-validation-for="IndustryNAICSCode" class="text-danger"></span>
                                </div>
                            </div>

                            <!-- Industry Description -->
                            <div class="col-12 col-md-6">
                                <div class="form-group">
                                    <label asp-for="IndustryDescription" class="control-label mr-3" style="min-width: 150px; white-space: nowrap;">Industry Description:</label>
                                    <textarea asp-for="IndustryDescription" class="form-control" style="min-height: 100px; flex-grow: 1;"></textarea>
                                    <span asp-validation-for="IndustryDescription" class="text-danger"></span>
                                </div>
                            </div>
                        </div>

                        <div class="form-group text-center">
                            <input type="submit" value="Create" class="btn btn-primary" />
                            <a asp-action="Index" class="btn btn-secondary ml-2">Back to List</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
